.image-wrapper {
    display: inline-block;
    max-width: 100%;
    align-self: start;
}

.constrained-image .mud-image-root,
.constrained-image .mud-image-root img {
    width: auto !important;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
